In [6]:
# change direction to main folder to use path from config.json

import os
os.chdir('C:/Users/Domen/OneDrive/Projects/linkedIn-webscraper')
print(os.getcwd())

C:\Users\Domen\OneDrive\Projects\linkedIn-webscraper

In [8]:
import pickle
from tqdm import tqdm
import pandas as pd
import json
import pandas as pd
from datetime import datetime, timedelta
from datetime import datetime


import os
os.chdir('C:/Users/Domen/OneDrive/Projects/linkedIn-webscraper')
print(os.getcwd())

from myModules import my_NLP as myNLP # importing own library
from myModules import prep as myBib

%load_ext autoreload
%autoreload 2

C:\Users\Domen\OneDrive\Projects\linkedIn-webscraper
The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [9]:
with open("config/config.json", 'r') as f:
    config = json.load(f)
    print(config)
templates_path = config["template_path"]
temp_data_path = config["temp_data_path"]
webscrap_data_path = config["webscrap_data_path"]   
sound_path = config["sound_path"]

{'temp_data_path': 'data/temp_data/', 'webscrap_data_path': 'data/webscrap_data/', 'cleaned_data_path': 'data/cleaned_data/', 'NLP_data_path': 'data/NLP_data/', 'sound_path': 'data/sound/', 'mode_path': 'data/model_data', 'template_path': 'data/templates'}

In [10]:
list_xlsx_files = os.listdir(webscrap_data_path)
list_xlsx_files

['app_dataframe.pkl',
 'id_tracker.pkl',
 'soup_dict-20240120.pkl',
 'soup_dict-20240121.pkl',
 'soup_dict-20240122.pkl',
 'soup_dict-20240129.pkl']

In [11]:
total_scrap = {}

for filename in list_xlsx_files:
    if "soup_dict" in filename:
        with open(f"{webscrap_data_path}{filename}", 'rb') as f:
            temp_scrap = pickle.load(f)
        print(f"Update data from {filename}.")
        total_scrap.update(temp_scrap)
    else:
        print(f"Skip {filename}.")

print(total_scrap)

Skip app_dataframe.pkl.
Skip id_tracker.pkl.
Update data from soup_dict-20240120.pkl.
Update data from soup_dict-20240121.pkl.
Update data from soup_dict-20240122.pkl.
Update data from soup_dict-20240129.pkl.

In [12]:
df = myBib.transform_scrap_data_to_df(total_scrap)

100%|██████████████████████████████████████████████████████████████████████████████| 1769/1769 [07:40<00:00,  3.84it/s]

In [ ]:
display(df)

,id,title,company,city,posting_date,job_description,seniority_level,employment_type,job_function,industries,scraping_date,url
0,3798428506,Senior Data Analyst,Hayward Hawk,"Berlin, Germany",2 weeks ago,Senior Data Analyst 1 day per month â€“ Berlin...,Mid-Senior level,Contract,Analyst and Information Technology,IT System Data Services,2024-01-20,https://www.linkedin.com/jobs/search?keywords=...
1,3786733875,JUNIOR DATA ANALYST (m/f/d),twelve x twelve,"Berlin, Berlin, Germany",4 weeks ago,"The OpportunityAs a Junior Data Analyst, you w...",Mid-Senior level,Temporary,Information Technology,"Technology, Information and Internet",2024-01-20,https://www.linkedin.com/jobs/search?keywords=...
2,3800026519,Data Analyst,Gemma Analytics,"Berlin, Berlin, Germany",1 week ago,We are Gemma Analytics: a Berlin-based company...,Mid-Senior level,Full-time,Analyst,IT Services and IT Consulting,2024-01-20,https://www.linkedin.com/jobs/search?keywords=...
3,3797012326,Senior Data Analyst,PCR Digital,"Berlin, Germany",1 week ago,Senior Data Analyst€100k Per Year - 18 month c...,Mid-Senior level,Contract,Analyst and Information Technology,IT Services and IT Consulting,2024-01-20,https://www.linkedin.com/jobs/search?keywords=...
4,3803672692,Junior Data Analyst (m/f/d),Flink,"Berlin, Berlin, Germany",2 days ago,Company DescriptionFlink is the leading quick ...,Associate,Full-time,Analyst,"Technology, Information and Internet",2024-01-20,https://www.linkedin.com/jobs/search?keywords=...
...,...,...,...,...,...,...,...,...,...,...,...,...
1430,3792471990,(Senior) Business Analyst (m/w/d),Aroundtown,"Berlin, Berlin, Germany",4 weeks ago,Deine AufgabenErstellung regelmäßiger Business...,Mid-Senior level,Full-time,Finance and Sales,Real Estate,2024-01-21,https://www.linkedin.com/jobs/search?keywords=...
1431,3792104198,Senior Product Analyst,Zalando,"Berlin, Berlin, Germany",1 day ago,THE ROLE & THE TEAMLounge by Zalando is the on...,Mid-Senior level,Full-time,"Research, Analyst, and Information Technology","IT Services and IT Consulting, Technology, Inf...",2024-01-21,https://www.linkedin.com/jobs/search?keywords=...
1432,3073143523,Business Analyst / Consultant Digital Transfor...,Deloitte,"Berlin, Berlin, Germany",1 week ago,Du machst den Unterschied. Ob im Business Audi...,Entry level,Full-time,Consulting and Information Technology,Business Consulting and Services,2024-01-21,https://www.linkedin.com/jobs/search?keywords=...
1433,3777880434,Senior Product Analyst (m/f/x),HelloFresh,"Berlin, Berlin, Germany",2 weeks ago,The roleThe Procurement Tech Alliance has been...,Mid-Senior level,Full-time,"Project Management, Business Development, and ...","Food and Beverage Services, Manufacturing, and...",2024-01-21,https://www.linkedin.com/jobs/search?keywords=...
1434,3748495136,"Business Analyst (Bangkok Based, relocation pr...",Agoda,"Berlin, Berlin, Germany",1 hour ago,About AgodaAgoda is an online travel booking p...,Associate,Full-time,"Research, Analyst, and Information Technology","Technology, Information and Internet",2024-01-21,https://www.linkedin.com/jobs/search?keywords=...

In [ ]:
cleaned_df = myNLP.add_language_values_to_df(df, search_column = 'job_description') # add language values

Processing: 100%|██████████████████████████████████████████████████████████████████| 1435/1435 [00:24<00:00, 59.61it/s]

In [ ]:
cleaned_df

,id,title,company,city,posting_date,job_description,seniority_level,employment_type,job_function,industries,scraping_date,url,language
0,3798428506,Senior Data Analyst,Hayward Hawk,"Berlin, Germany",2 weeks ago,Senior Data Analyst 1 day per month â€“ Berlin...,Mid-Senior level,Contract,Analyst and Information Technology,IT System Data Services,2024-01-20,https://www.linkedin.com/jobs/search?keywords=...,en
1,3786733875,JUNIOR DATA ANALYST (m/f/d),twelve x twelve,"Berlin, Berlin, Germany",4 weeks ago,"The OpportunityAs a Junior Data Analyst, you w...",Mid-Senior level,Temporary,Information Technology,"Technology, Information and Internet",2024-01-20,https://www.linkedin.com/jobs/search?keywords=...,en
2,3800026519,Data Analyst,Gemma Analytics,"Berlin, Berlin, Germany",1 week ago,We are Gemma Analytics: a Berlin-based company...,Mid-Senior level,Full-time,Analyst,IT Services and IT Consulting,2024-01-20,https://www.linkedin.com/jobs/search?keywords=...,en
3,3797012326,Senior Data Analyst,PCR Digital,"Berlin, Germany",1 week ago,Senior Data Analyst€100k Per Year - 18 month c...,Mid-Senior level,Contract,Analyst and Information Technology,IT Services and IT Consulting,2024-01-20,https://www.linkedin.com/jobs/search?keywords=...,en
4,3803672692,Junior Data Analyst (m/f/d),Flink,"Berlin, Berlin, Germany",2 days ago,Company DescriptionFlink is the leading quick ...,Associate,Full-time,Analyst,"Technology, Information and Internet",2024-01-20,https://www.linkedin.com/jobs/search?keywords=...,en
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1430,3792471990,(Senior) Business Analyst (m/w/d),Aroundtown,"Berlin, Berlin, Germany",4 weeks ago,Deine AufgabenErstellung regelmäßiger Business...,Mid-Senior level,Full-time,Finance and Sales,Real Estate,2024-01-21,https://www.linkedin.com/jobs/search?keywords=...,de
1431,3792104198,Senior Product Analyst,Zalando,"Berlin, Berlin, Germany",1 day ago,THE ROLE & THE TEAMLounge by Zalando is the on...,Mid-Senior level,Full-time,"Research, Analyst, and Information Technology","IT Services and IT Consulting, Technology, Inf...",2024-01-21,https://www.linkedin.com/jobs/search?keywords=...,en
1432,3073143523,Business Analyst / Consultant Digital Transfor...,Deloitte,"Berlin, Berlin, Germany",1 week ago,Du machst den Unterschied. Ob im Business Audi...,Entry level,Full-time,Consulting and Information Technology,Business Consulting and Services,2024-01-21,https://www.linkedin.com/jobs/search?keywords=...,de
1433,3777880434,Senior Product Analyst (m/f/x),HelloFresh,"Berlin, Berlin, Germany",2 weeks ago,The roleThe Procurement Tech Alliance has been...,Mid-Senior level,Full-time,"Project Management, Business Development, and ...","Food and Beverage Services, Manufacturing, and...",2024-01-21,https://www.linkedin.com/jobs/search?keywords=...,en
1434,3748495136,"Business Analyst (Bangkok Based, relocation pr...",Agoda,"Berlin, Berlin, Germany",1 hour ago,About AgodaAgoda is an online travel booking p...,Associate,Full-time,"Research, Analyst, and Information Technology","Technology, Information and Internet",2024-01-21,https://www.linkedin.com/jobs/search?keywords=...,en

In [ ]:
cleaned_df['title'] = cleaned_df['title'].astype(str)

In [ ]:
tqdm.pandas(desc="Processing")
cleaned_df['cp1_title'] = cleaned_df["title"].progress_apply(myNLP.clean_up)
cleaned_df['cp2_title'] = cleaned_df['cp1_title'].progress_apply(myNLP.tokenize)

Processing: 100%|███████████████████████████████████████████████████████████████| 1435/1435 [00:00<00:00, 94853.38it/s]
Processing: 100%|████████████████████████████████████████████████████████████████| 1435/1435 [00:00<00:00, 8333.37it/s]

In [ ]:
nlp_df = cleaned_df.progress_apply(myNLP.extract_level, axis=1)
nlp_df['first_match'] = None

Processing: 100%|████████████████████████████████████████████████████████████████| 1435/1435 [00:00<00:00, 2604.74it/s]

In [ ]:
nlp_df = nlp_df.progress_apply(myNLP.get_job_title, axis=1)
nlp_df[nlp_df['new_job_title'].isna()] = nlp_df[nlp_df['new_job_title'].isna()].progress_apply(myNLP.second_round_jobtitle, axis=1)
nlp_df[nlp_df['new_job_title'].isna()] = nlp_df[nlp_df['new_job_title'].isna()].progress_apply(myNLP.false_col, axis=1)
nlp_df[nlp_df['job_level'].isin(['senior_level', 'student_level', 'manager_level'])] = nlp_df[nlp_df['job_level'].isin(['senior_level', 'student_level', 'manager_level'])].progress_apply(myNLP.false_col, axis=1)

Processing: 100%|████████████████████████████████████████████████████████████████| 1435/1435 [00:01<00:00, 1305.89it/s]
Processing: 100%|█████████████████████████████████████████████████████████████████| 490/490 [00:00<00:00, 17485.19it/s]
Processing: 100%|█████████████████████████████████████████████████████████████████| 402/402 [00:00<00:00, 18423.61it/s]
Processing: 100%|█████████████████████████████████████████████████████████████████| 481/481 [00:00<00:00, 18205.99it/s]

In [ ]:
nlp_df['first_match'].value_counts(dropna=False)

first_match
False    769
True     666
Name: count, dtype: int64

In [ ]:
nlp_df

,city,company,cp1_title,cp2_title,employment_type,first_match,id,industries,job_description,job_function,job_level,language,new_job_title,posting_date,scraping_date,seniority_level,title,url
0,"Berlin, Germany",Hayward Hawk,senior data_analyst,data analyst,Contract,False,3798428506,IT System Data Services,Senior Data Analyst 1 day per month â€“ Berlin...,Analyst and Information Technology,senior_level,en,[data_analyst],2 weeks ago,2024-01-20,Mid-Senior level,Senior Data Analyst,https://www.linkedin.com/jobs/search?keywords=...
1,"Berlin, Berlin, Germany",twelve x twelve,junior data_analyst,data analyst,Temporary,True,3786733875,"Technology, Information and Internet","The OpportunityAs a Junior Data Analyst, you w...",Information Technology,junior_level,en,[data_analyst],4 weeks ago,2024-01-20,Mid-Senior level,JUNIOR DATA ANALYST (m/f/d),https://www.linkedin.com/jobs/search?keywords=...
2,"Berlin, Berlin, Germany",Gemma Analytics,data_analyst,data analyst,Full-time,True,3800026519,IT Services and IT Consulting,We are Gemma Analytics: a Berlin-based company...,Analyst,NaN,en,[data_analyst],1 week ago,2024-01-20,Mid-Senior level,Data Analyst,https://www.linkedin.com/jobs/search?keywords=...
3,"Berlin, Germany",PCR Digital,senior data_analyst,data analyst,Contract,False,3797012326,IT Services and IT Consulting,Senior Data Analyst€100k Per Year - 18 month c...,Analyst and Information Technology,senior_level,en,[data_analyst],1 week ago,2024-01-20,Mid-Senior level,Senior Data Analyst,https://www.linkedin.com/jobs/search?keywords=...
4,"Berlin, Berlin, Germany",Flink,junior data_analyst,data analyst,Full-time,True,3803672692,"Technology, Information and Internet",Company DescriptionFlink is the leading quick ...,Analyst,junior_level,en,[data_analyst],2 days ago,2024-01-20,Associate,Junior Data Analyst (m/f/d),https://www.linkedin.com/jobs/search?keywords=...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1430,"Berlin, Berlin, Germany",Aroundtown,(senior) business_analyst,() business analyst,Full-time,False,3792471990,Real Estate,Deine AufgabenErstellung regelmäßiger Business...,Finance and Sales,senior_level,de,[business_analyst],4 weeks ago,2024-01-21,Mid-Senior level,(Senior) Business Analyst (m/w/d),https://www.linkedin.com/jobs/search?keywords=...
1431,"Berlin, Berlin, Germany",Zalando,senior product_analyst,product analyst,Full-time,False,3792104198,"IT Services and IT Consulting, Technology, Inf...",THE ROLE & THE TEAMLounge by Zalando is the on...,"Research, Analyst, and Information Technology",senior_level,en,[product_analyst],1 day ago,2024-01-21,Mid-Senior level,Senior Product Analyst,https://www.linkedin.com/jobs/search?keywords=...
1432,"Berlin, Berlin, Germany",Deloitte,business_analyst / consultant digital transf...,business analyst / digital transformation ser...,Full-time,True,3073143523,Business Consulting and Services,Du machst den Unterschied. Ob im Business Audi...,Consulting and Information Technology,consultant,de,[business_analyst],1 week ago,2024-01-21,Entry level,Business Analyst / Consultant Digital Transfor...,https://www.linkedin.com/jobs/search?keywords=...
1433,"Berlin, Berlin, Germany",HelloFresh,senior product_analyst,product analyst,Full-time,False,3777880434,"Food and Beverage Services, Manufacturing, and...",The roleThe Procurement Tech Alliance has been...,"Project Management, Business Development, and ...",senior_level,en,[product_analyst],2 weeks ago,2024-01-21,Mid-Senior level,Senior Product Analyst (m/f/x),https://www.linkedin.com/jobs/search?keywords=...
1434,"Berlin, Berlin, Germany",Agoda,"business_analyst (bangkok based, relocation ...","business analyst (bangkok based, relocation pr...",Full-time,True,3748495136,"Technology, Information and Internet",About AgodaAgoda is an online travel booking p...,"Research, Analyst, and Information Technology",NaN,en,[business_analyst],1 hour ago,2024-01-21,Associate,"Business Analyst (Bangkok Based, relocation pr...",https://www.linkedin.com/jobs/search?keywords=...

In [ ]:
def time_to_weeks(row):
    scrap_date = row['scraping_date']
    posting_date = row['posting_date']    
    

    if 'minutes' in posting_date or 'hour' in posting_date or 'Just now' in posting_date:
        new_date = scrap_date
    if 'day' in posting_date:
        days = int(posting_date.split(' ')[0])
        new_date = scrap_date - timedelta(days=days)
    if 'week' in posting_date:
        weeks = int(posting_date.split(' ')[0])
        new_date = scrap_date - timedelta(weeks=weeks)
    if 'month' in posting_date:
        months = int(posting_date.split(' ')[0])
        new_date = pd.to_datetime(scrap_date) - pd.DateOffset(months=months)
    if 'year' in posting_date:
        years = int(posting_date.split(' ')[0])
        new_date = pd.to_datetime(scrap_date) - pd.DateOffset(years=years)
    
    
    if isinstance(new_date, datetime):    
        row['calc_posting_date'] = new_date.date()
    else:
        row['calc_posting_date'] = new_date
        
        
    return row

In [ ]:
nlp_df = nlp_df.dropna(subset=['posting_date'])

posting_date
1 week ago        384
2 months ago      150
1 month ago       145
2 weeks ago       112
3 months ago       91
2 days ago         61
7 months ago       46
4 days ago         43
4 months ago       42
3 days ago         42
1 day ago          42
3 weeks ago        40
4 weeks ago        37
5 months ago       32
6 days ago         29
6 months ago       26
5 days ago         24
8 months ago       18
9 months ago       12
22 hours ago        5
20 hours ago        5
15 hours ago        5
9 hours ago         5
1 hour ago          4
14 hours ago        3
18 hours ago        3
23 hours ago        3
19 hours ago        3
3 hours ago         3
21 hours ago        2
8 hours ago         2
16 hours ago        2
2 hours ago         1
48 minutes ago      1
11 hours ago        1
6 hours ago         1
13 hours ago        1
Name: count, dtype: int64

In [ ]:
nlp_df['posting_date'].value_counts(dropna=False)

posting_date
1 week ago        384
2 months ago      150
1 month ago       145
2 weeks ago       112
3 months ago       91
2 days ago         61
7 months ago       46
4 days ago         43
4 months ago       42
3 days ago         42
1 day ago          42
3 weeks ago        40
4 weeks ago        37
5 months ago       32
6 days ago         29
6 months ago       26
5 days ago         24
8 months ago       18
9 months ago       12
22 hours ago        5
20 hours ago        5
15 hours ago        5
9 hours ago         5
1 hour ago          4
14 hours ago        3
18 hours ago        3
23 hours ago        3
19 hours ago        3
3 hours ago         3
21 hours ago        2
8 hours ago         2
16 hours ago        2
2 hours ago         1
48 minutes ago      1
11 hours ago        1
6 hours ago         1
13 hours ago        1
Name: count, dtype: int64

In [ ]:
nlp_df = nlp_df.progress_apply(time_to_weeks, axis=1) # add transform posting date to date format

Processing: 100%|████████████████████████████████████████████████████████████████| 1426/1426 [00:00<00:00, 2216.39it/s]

In [ ]:
nlp_df

,city,company,cp1_title,cp2_title,employment_type,first_match,id,industries,job_description,job_function,job_level,language,new_job_title,posting_date,scraping_date,seniority_level,title,url,calc_posting_date
0,"Berlin, Germany",Hayward Hawk,senior data_analyst,data analyst,Contract,False,3798428506,IT System Data Services,Senior Data Analyst 1 day per month â€“ Berlin...,Analyst and Information Technology,senior_level,en,[data_analyst],2 weeks ago,2024-01-20,Mid-Senior level,Senior Data Analyst,https://www.linkedin.com/jobs/search?keywords=...,2024-01-06
1,"Berlin, Berlin, Germany",twelve x twelve,junior data_analyst,data analyst,Temporary,True,3786733875,"Technology, Information and Internet","The OpportunityAs a Junior Data Analyst, you w...",Information Technology,junior_level,en,[data_analyst],4 weeks ago,2024-01-20,Mid-Senior level,JUNIOR DATA ANALYST (m/f/d),https://www.linkedin.com/jobs/search?keywords=...,2023-12-23
2,"Berlin, Berlin, Germany",Gemma Analytics,data_analyst,data analyst,Full-time,True,3800026519,IT Services and IT Consulting,We are Gemma Analytics: a Berlin-based company...,Analyst,NaN,en,[data_analyst],1 week ago,2024-01-20,Mid-Senior level,Data Analyst,https://www.linkedin.com/jobs/search?keywords=...,2024-01-13
3,"Berlin, Germany",PCR Digital,senior data_analyst,data analyst,Contract,False,3797012326,IT Services and IT Consulting,Senior Data Analyst€100k Per Year - 18 month c...,Analyst and Information Technology,senior_level,en,[data_analyst],1 week ago,2024-01-20,Mid-Senior level,Senior Data Analyst,https://www.linkedin.com/jobs/search?keywords=...,2024-01-13
4,"Berlin, Berlin, Germany",Flink,junior data_analyst,data analyst,Full-time,True,3803672692,"Technology, Information and Internet",Company DescriptionFlink is the leading quick ...,Analyst,junior_level,en,[data_analyst],2 days ago,2024-01-20,Associate,Junior Data Analyst (m/f/d),https://www.linkedin.com/jobs/search?keywords=...,2024-01-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1430,"Berlin, Berlin, Germany",Aroundtown,(senior) business_analyst,() business analyst,Full-time,False,3792471990,Real Estate,Deine AufgabenErstellung regelmäßiger Business...,Finance and Sales,senior_level,de,[business_analyst],4 weeks ago,2024-01-21,Mid-Senior level,(Senior) Business Analyst (m/w/d),https://www.linkedin.com/jobs/search?keywords=...,2023-12-24
1431,"Berlin, Berlin, Germany",Zalando,senior product_analyst,product analyst,Full-time,False,3792104198,"IT Services and IT Consulting, Technology, Inf...",THE ROLE & THE TEAMLounge by Zalando is the on...,"Research, Analyst, and Information Technology",senior_level,en,[product_analyst],1 day ago,2024-01-21,Mid-Senior level,Senior Product Analyst,https://www.linkedin.com/jobs/search?keywords=...,2024-01-20
1432,"Berlin, Berlin, Germany",Deloitte,business_analyst / consultant digital transf...,business analyst / digital transformation ser...,Full-time,True,3073143523,Business Consulting and Services,Du machst den Unterschied. Ob im Business Audi...,Consulting and Information Technology,consultant,de,[business_analyst],1 week ago,2024-01-21,Entry level,Business Analyst / Consultant Digital Transfor...,https://www.linkedin.com/jobs/search?keywords=...,2024-01-14
1433,"Berlin, Berlin, Germany",HelloFresh,senior product_analyst,product analyst,Full-time,False,3777880434,"Food and Beverage Services, Manufacturing, and...",The roleThe Procurement Tech Alliance has been...,"Project Management, Business Development, and ...",senior_level,en,[product_analyst],2 weeks ago,2024-01-21,Mid-Senior level,Senior Product Analyst (m/f/x),https://www.linkedin.com/jobs/search?keywords=...,2024-01-07
1434,"Berlin, Berlin, Germany",Agoda,"business_analyst (bangkok based, relocation ...","business analyst (bangkok based, relocation pr...",Full-time,True,3748495136,"Technology, Information and Internet",About AgodaAgoda is an online travel booking p...,"Research, Analyst, and Information Technology",NaN,en,[business_analyst],1 hour ago,2024-01-21,Associate,"Business Analyst (Bangkok Based, relocation pr...",https://www.linkedin.com/jobs/search?keywords=...,2024-01-21

In [ ]:
skills = ['python', 'sql', 'gitlab',' r ','bi-bool','r shiny', 'power bi', 'visual analytics' 'cognos bi','aws', 'spark', 'azure', 'tableau', 'java', 'excel', 'hadoop', 'scala', 
           'snowflake', 'kafka', 'nosql', 'databricks', ' git ', 'redshift', 'airflow', 'oracle', 'sap', 'ad-hoc', 
           'sql server', 'docker', 'kubernetes', 'power_bi', 'c++', 'numpy', 'dplyr', 'matplotlib', 
           'seaborn', 'ggplot', 'hypothesis testing', 'regression analysis', 'predictive analysis', 'bayesian statistics', 
           'scikit', 'tensorflow', 'pytorch', 'xgboost', 'deep learning', 'hadoop', 'bigquery', 'airflow', 'nltk', 'spacy', 
           'nlp', 'aws', 'azure', 'looker', 'ms-office', ' ml ', ' nlp ', ' pandas', 'e2e', ' sas ', ' gcp ']

In [ ]:
tqdm.pandas(desc="Processing")
nlp_df['nlp_job_description'] = nlp_df['job_description'].progress_apply(lambda x: x.lower().strip()) # lower job description text
nlp_df = nlp_df.progress_apply(lambda row: myNLP.check_skills(row, skills), axis=1) # use check_skill function to extract skills from text which matches words in skills list

Processing: 100%|███████████████████████████████████████████████████████████████| 1426/1426 [00:00<00:00, 61859.56it/s]
Processing: 100%|█████████████████████████████████████████████████████████████████| 1426/1426 [00:04<00:00, 324.72it/s]

In [ ]:
nlp_df = myNLP.prepare_dataset(nlp_df)

In [ ]:
nlp_df

,calc_posting_date,city,company,cp1_title,cp2_title,employment_type,first_match,id,industries,job_description,...,job_level,language,new_job_title,nlp_job_description,posting_date,scraping_date,seniority_level,skills,title,url
0,2024-01-06,"Berlin, Germany",Hayward Hawk,senior data_analyst,data analyst,Contract,False,3798428506,IT System Data Services,Senior Data Analyst 1 day per month â€“ Berlin...,...,senior_level,en,[data_analyst],senior data analyst 1 day per month â€“ berlin...,2 weeks ago,2024-01-20,Mid-Senior level,"[sap, sql, tableau]",Senior Data Analyst,https://www.linkedin.com/jobs/search?keywords=...
1,2023-12-23,"Berlin, Berlin, Germany",twelve x twelve,junior data_analyst,data analyst,Temporary,True,3786733875,"Technology, Information and Internet","The OpportunityAs a Junior Data Analyst, you w...",...,junior_level,en,[data_analyst],"the opportunityas a junior data analyst, you w...",4 weeks ago,2024-01-20,Mid-Senior level,"[bigquery, python, sql, ad-hoc, gcp ]",JUNIOR DATA ANALYST (m/f/d),https://www.linkedin.com/jobs/search?keywords=...
2,2024-01-13,"Berlin, Berlin, Germany",Gemma Analytics,data_analyst,data analyst,Full-time,True,3800026519,IT Services and IT Consulting,We are Gemma Analytics: a Berlin-based company...,...,,en,[data_analyst],we are gemma analytics: a berlin-based company...,1 week ago,2024-01-20,Mid-Senior level,"[looker, bigquery, python, sql, excel, tableau...",Data Analyst,https://www.linkedin.com/jobs/search?keywords=...
3,2024-01-13,"Berlin, Germany",PCR Digital,senior data_analyst,data analyst,Contract,False,3797012326,IT Services and IT Consulting,Senior Data Analyst€100k Per Year - 18 month c...,...,senior_level,en,[data_analyst],senior data analyst€100k per year - 18 month c...,1 week ago,2024-01-20,Mid-Senior level,"[excel, sql, tableau, python]",Senior Data Analyst,https://www.linkedin.com/jobs/search?keywords=...
4,2024-01-18,"Berlin, Berlin, Germany",Flink,junior data_analyst,data analyst,Full-time,True,3803672692,"Technology, Information and Internet",Company DescriptionFlink is the leading quick ...,...,junior_level,en,[data_analyst],company descriptionflink is the leading quick ...,2 days ago,2024-01-20,Associate,"[sql, python]",Junior Data Analyst (m/f/d),https://www.linkedin.com/jobs/search?keywords=...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1430,2023-12-24,"Berlin, Berlin, Germany",Aroundtown,(senior) business_analyst,() business analyst,Full-time,False,3792471990,Real Estate,Deine AufgabenErstellung regelmäßiger Business...,...,senior_level,de,[business_analyst],deine aufgabenerstellung regelmäßiger business...,4 weeks ago,2024-01-21,Mid-Senior level,"[excel, power bi, ad-hoc, sap]",(Senior) Business Analyst (m/w/d),https://www.linkedin.com/jobs/search?keywords=...
1431,2024-01-20,"Berlin, Berlin, Germany",Zalando,senior product_analyst,product analyst,Full-time,False,3792104198,"IT Services and IT Consulting, Technology, Inf...",THE ROLE & THE TEAMLounge by Zalando is the on...,...,senior_level,en,[product_analyst],the role & the teamlounge by zalando is the on...,1 day ago,2024-01-21,Mid-Senior level,"[scala, python, excel, sql, tableau]",Senior Product Analyst,https://www.linkedin.com/jobs/search?keywords=...
1432,2024-01-14,"Berlin, Berlin, Germany",Deloitte,business_analyst / consultant digital transf...,business analyst / digital transformation ser...,Full-time,True,3073143523,Business Consulting and Services,Du machst den Unterschied. Ob im Business Audi...,...,consultant,de,[business_analyst],du machst den unterschied. ob im business audi...,1 week ago,2024-01-21,Entry level,[],Business Analyst / Consultant Digital Transfor...,https://www.linkedin.com/jobs/search?keywords=...
1433,2024-01-07,"Berlin, Berlin, Germany",HelloFresh,senior product_analyst,product analyst,Full-time,False,3777880434,"Food and Beverage Services, Manufacturing, and...",The roleThe Procurement Tech Alliance has been...,...,senior_level,en,[product_analyst],the rolethe procurement tech alliance has been...,2 weeks ago,2024-01-21,Mid-Senior level,"[excel, sql, python]",Senior Product Analyst (m/f/x),https://www.linkedin.com/jobs/search?keywords=...
1434,2024-01-21,"Berlin, Berlin, Germany",Agoda,"business_analyst (bangkok based, relocation ...","business analyst (bangkok based, relocation pr...",Full-time,True,3748495136,"Technology, Information and Internet",About AgodaAgoda is an online travel booking p...,...,,en,[business_analyst],about agodaagoda is an online travel booking p...,1 hour ago,2024-01-21,Associate,"[ r , python, excel, sql, tableau]","Business Analyst (Bangkok Based, relocation pr...",https://www.linkedin.com/jobs/search?keywords=...

In [ ]:
with open(f"{webscrap_data_path}app_dataframe.pkl", "wb") as file:
    pickle.dump(nlp_df, file)